<h2>Available drones</h2>

<div class="mygroupcards">


{{#each drones}}


    <div class="mycard">
        <h5>Name :</h5>
        <p>{{this.name}}</p>
        <h5>Propellers :</h5>
        <p>{{this.propellers}}</p>
        <h5>Speed :</h5>
        <p>{{this.maxSpeed}}</p>
        <div class="container">
            <div class="row">
                <div class="col"><a href="/drones/{{this._id}}/edit">Edit</a>
                </div>
                <div class="col">                    
                     <form method="POST" action="/drones/{{this._id}}/delete">
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </form>
                </div>
            </div> 
        </div>
    </div>

{{/each}}

</div>
